@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap');

:root{
  --fontSize : 10px;
  --fontFamily :'Chivo', sans-serif;

  --bgColor : rgba(18, 23, 37, 1.0);

  --heroTextColor : rgba(84, 230, 175,1.0);
  --heroSecondaryColor : rgba(255,255,255,1.0);

  --textPrimaryColor : rgba(194, 203, 229, 1.0);

  --inputActiveBgColor : rgba(44,52, 75, 1.0);
  --inputTextColor : rgba(255,255,255, 0.5);

  --btnColor : rgba(18, 23, 37, 1.0);
  --btnBgColor : rgba(84, 230, 175, 1.0);
  --btnActiveBgColor : rgba(179, 255, 226, 1.0);


  --iconsColor : rgba(90,102, 138,1.0);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
}
.container{
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  background-color: #ccc;

}
.container .right{
  width: 100%;
  height: 100%;
  background: url(./assets/mobile/image-host.jpg) no-repeat top center;
  background-size: cover;
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.container .right::after{
  content:'';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.container .left{
  width: 100%;
  height: 100%;
  padding: 0 2.4rem;
  background-color: salmon;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  position:relative;


}

header{
  padding: 3rem 0;
  position:absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
}

main{
  width:100%;
  max-width: 723px;
  padding: 2.4rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;

}

main .header{

  margin-bottom: 3rem;
}
main .header h1, h2 {
  font-size:2.6rem;
  font-weight: 300;
  line-height: 3.8rem;
  text-transform: uppercase;
  text-align: center;
  color:var(--heroTextColor);
}
main .header h2{
  color:var(--heroSecondaryColor);
}

main .body{
  margin-bottom:3rem;
}
main .body p{
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color:var(--textPrimaryColor)
}

.icons{
  padding: 2rem 0;
  margin-bottom: 3rem;
  display:flex;
  justify-content: center;
  align-items: center;

}

.icons .icon{
  height: 1.5rem;
  margin: 0 0.5rem;
}

.icon img{
  height: 100%;
  object-fit: cover;
}

.form{
  width: 427px;
  max-width:100%;
  padding: 1.5rem 2.4rem;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.formGroup{
  margin-bottom:2rem ;
  padding-bottom: 2rem ;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formGroup input{
  width: 100%;
  display: block;
  font-size: 1.4rem;
  text-align: left;
  padding: 0.8rem 1.6rem ;
}


/*=== tablets ===*/
@media (min-width: 768px){

  .container .right{
    width: 65%;
    height: 50vh;
    background: url(./assets/tablet/image-host.jpg)no-repeat top right;
    background-size: cover;
    left: 0%;
    transform:translate(50%,-50%)

  }


  .container .right::after{
    width: 100%;
    background:url(./assets/desktop/bg-pattern-dots.svg) bottom left no-repeat;
    background-size:auto;
    z-index: 9;
    top: 0;
    left: 20%;
    transform:translate(-50%,50%)
  }

  header{
    left:20%;
  }

  main{
    max-width: 100%;
    width: 635px;
    align-items: start;


  }

  main .header h1,h2{
    text-align: left;
    font-size :4.8rem;
    line-height: 5.6rem;
  }

  main .body p{
    width: 480px;
    max-width: 100%;
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.8rem;

  }

  .icons{
    position: absolute;
    bottom: 0;
    left: 2rem;
  }

  .icons .icon{
    height:2.9rem ;
  }


}

/*=== Desktops ===*/
@media (min-width: 1440px){


  .container .right{
    background: url(./assets/desktop/image-host.jpg)no-repeat top right;
    background-size: cover;
    left: 0%;
    transform:translate(50%,-50%)

  }
  .container .right::after{
    background:url(./assets/desktop/bg-pattern-dots.svg) bottom right no-repeat;
    background-size: auto;
    z-index: 9;
    top: 10%;
    transform:translateX(0);
  }
}