@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap');

:root{
  --fontSize : 10px;
  --fontFamily :'Chivo', sans-serif;

  --bgColor : rgba(18, 23, 37, 1.0);

  --heroTextColor : rgba(84, 230, 175,1.0);
  --heroSecondaryColor : rgba(255,255,255,1.0);

  --textPrimaryColor : rgba(194, 203, 229, 1.0);

  --inputBgColor : rgba(44,52, 75, 1.0);
  --inputTextColor : rgba(255,255,255, 0.5);
  --inputErrorColor : rgba(251,62,62, 1.0);


  --btnColor : rgba(18, 23, 37, 1.0);
  --btnBgColor : rgba(84, 230, 175, 1.0);
  --btnActiveBgColor : rgba(179, 255, 226, 1.0);


  --iconsColor : rgba(90,102, 138,1.0);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
}
.container{
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .right{
  width: 100%;
  height: 100%;
  background: url(./assets/mobile/image-host.jpg) no-repeat top center;
  background-size: cover;
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.container .right::after{
  content:'';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.container .left{
  width: 100%;
  padding: 0 2.4rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  position:relative;

}

header{
  padding: 3rem 0;
}

main{
  width:100%;
  max-width: 723px;
  padding: 2.4rem;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}

main .header{

  margin-bottom: 3rem;
}
main .header h1, h2 {
  font-size:2.6rem;
  font-weight: 300;
  line-height: 3.8rem;
  text-transform: uppercase;
  text-align: center;
  color:var(--heroTextColor);
}
main .header h2{
  color:var(--heroSecondaryColor);
}

main .body{
  margin-bottom:3rem;
}
main .body p{
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color:var(--textPrimaryColor)
}

.icons{
  padding: 2rem 0;
  margin-bottom: 3rem;
  display:flex;
  justify-content: center;
  align-items: center;

}

.icons .icon{
  height: 1.5rem;
  margin: 0 0.5rem;
}

.icon img{
  height: 100%;
  object-fit: cover;
}

.form{
  width: 427px;
  max-width:100%;
  padding: 2rem 3rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.formGroup{
  width: 100%;
  padding-bottom: 2rem ;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.formGroup input{
  width: 100%;
  padding: 1.4rem 2.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  display: block;
  outline: none;
  border: none;
  border-radius: 2rem;
  color:var(--inputTextColor);
  background-color:var(--inputBgColor);
}

.formGroup small{
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  margin-top: 1rem;
  padding: 0 2rem;
  color:var(--inputErrorColor);
  visibility: hidden;
}

.formGroup.error small{
  visibility:visible;
}

.form .btn{
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.4rem 2.5rem;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 2rem;
  color: var(--btnColor);
  background-color:var(--btnBgColor);
  transition: all 0.6s ease-in-out;

}

.form .btn:hover{
  background-color: var(--btnActiveBgColor);
}

/*=== tablets ===*/

@media (min-width: 768px){

  .container{
    flex-direction: row;
  }

  .container .right{
    width: 60%;
    background: url(./assets/tablet/image-host.jpg)no-repeat right center;
    background-size: contain;
    top: 35%;
    left: 70%;
  }


  .container .right::after{
    height: 10vh;
    background:url(./assets/desktop/bg-pattern-dots.svg) bottom left no-repeat;
    background-size:contain;
    left: -60%;
    top:100%;
    transform:translate(0, 40%);

  }
  .container .left{
    height: 100vh;

  }

  header{
    position:absolute;
    top:0;
    left: 4.4rem;
  }

  main{
    max-width: 100%;
    width: 635px;
    align-items: start;
    position:absolute;
    top: 50%;
    left: 2rem;
    transform:translateY(-50%);
    background-color: var(--bgColor);
  }

  main .header h1,h2{
    text-align: left;
    font-size :4.8rem;
    line-height: 5.6rem;
  }

  main .body p{
    width: 480px;
    max-width: 100%;
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.8rem;

  }

  .icons{
    position: absolute;
    bottom: -5rem;
    left: 2rem;
  }

  .icons .icon{
    height:2.9rem ;
  }

  .form{
    flex-direction: row;
  }

  .form .btn{
    width: 25%;
    position: absolute;
    bottom: 9rem;
    right: 20%;
  }


}

/*=== Desktops ===*/
@media (min-width: 1440px){


  .container .right{
    background: url(./assets/desktop/image-host.jpg)no-repeat top right;
    top: 50%;
  }
  .container .right::after{
    background:url(./assets/desktop/bg-pattern-dots.svg) bottom right no-repeat;
    background-size: auto;
    z-index: 9;
    top: 80%;
    transform:translateX(-20%);
  }
}